package main

import (
	"fmt"
	"{{.ProjectName}}/bridge"
)

func init() {
	bridge.InitMethodHandle(func(method string, data []byte) []byte {
		fmt.Println("Received:", method, data)
		return data
	})
}
