module {{.ProjectName}}

go 1.23.0

replace protos => ../protos
replace native_windows => ../windows/src
replace native_linux => ../linux/src

require native_windows v0.0.0
require native_linux v0.0.0
