#import "{{.PluginClassName}}.h"
#import "FgBridge.h"

@implementation {{.PluginClassName}}

+ (void)registerWithRegistrar:(id<FlutterPluginRegistrar>)registrar {
    [FgBridge sharedInstance];
}

@end