import 'package:flutter/material.dart';
import 'package:{{.ProjectName}}/{{.ProjectName}}.dart';

void main() {
  runApp(const MyApp());
}

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    return const MaterialApp(
      title: 'Flutter Gopher Demo',
      home: MyHomePage(title: 'Flutter Gopher Demo Home Page'),
    );
  }
}

class MyHomePage extends StatefulWidget {
  const MyHomePage({super.key, required this.title});

  final String title;

  @override
  State<MyHomePage> createState() => _MyHomePageState();
}

class _MyHomePageState extends State<MyHomePage> {
  int _counter = 0;
  final api = {{.DartClassName}}();

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        backgroundColor: Colors.grey,
        title: Text(widget.title),
      ),
      body: Container(
        padding: const EdgeInsets.only(top: 20),
        alignment: Alignment.center,
        child: Column(
          crossAxisAlignment: CrossAxisAlignment.center,
          children: <Widget>[
            const Text(
              'You have pushed the button this many times:',
            ),
            Text(
              '$_counter',
              style: Theme.of(context).textTheme.headlineMedium,
            ),
            Row(
              mainAxisAlignment: MainAxisAlignment.spaceAround,
              children: [
                MaterialButton(
                  color: Colors.blue,
                  onPressed: () {
                    _counter = api.add(_counter, 1);
                    setState(() {});
                  },
                  child: const Text('Add'),
                ),
                MaterialButton(
                  color: Colors.green,
                  onPressed: () async {
                    _counter = await api.addGoAsync(_counter, 1);
                    setState(() {});
                  },
                  child: const Text('Add async'),
                ),
                MaterialButton(
                  color: Colors.pink,
                  onPressed: () async {
                    _counter = await api.addGoAsync(_counter, 1);
                    setState(() {
                      api.tick().listen((data) {
                        _counter += data;
                        setState(() {});
                      });
                    });
                  },
                  child: const Text('Chan'),
                ),
              ],
            )
          ],
        ),
      ),
    );
  }
}
