name: {{.ProjectName}}
description: "A Flutter Gopher-generated plugin for bridging Flutter, Golang, and Native code."
version: 0.0.1
homepage:

environment:
  sdk: ^3.0.0
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0

flutter:
  plugin:
    platforms:
      android:
        package: {{.PackageName}}
        pluginClass: {{.PluginClassName}}
      ios:
        pluginClass: {{.PluginClassName}}
      linux:
        ffiPlugin: true
      macos:
        pluginClass: {{.PluginClassName}}
      windows:
        ffiPlugin: true