package {{.PackageName}}

import io.flutter.embedding.engine.plugins.FlutterPlugin

class {{.PluginClassName}}: FlutterPlugin {
  override fun onAttachedToEngine(flutterPluginBinding: FlutterPlugin.FlutterPluginBinding) {
  }

  override fun onDetachedFromEngine(binding: FlutterPlugin.FlutterPluginBinding) {
  }
}
