package {{.PackageName}}

import io.flutter.embedding.engine.plugins.FlutterPlugin

class {{.PluginClassName}} : FlutterPlugin, FgBridgeDelegate {

    override fun onAttachedToEngine(flutterPluginBinding: FlutterPlugin.FlutterPluginBinding) {
        FgBridge.sharedInstance().delegate = this
    }

    override fun onDetachedFromEngine(binding: FlutterPlugin.FlutterPluginBinding) {
    }

    // Implementation of FgBridgeDelegate
    override fun methodHandle(method: String, data: ByteArray?): ByteArray? {
        println("Native Received: $method ${data?.joinToString(separator = " ") { "%02x".format(it) } ?: "null"}")
        return data
    }
}
