package platform_windows

import (
	"fmt"
	"log"
	"platform_windows/bridge"
	"strings"
)

func byteArrayToHex(byteArray []byte) string {
	if byteArray == nil {
		return "null"
	}
	var builder strings.Builder
	for i, b := range byteArray {
		if i > 0 {
			builder.WriteString(" ")
		}
		builder.WriteString(fmt.Sprintf("%02x", b))
	}
	return builder.String()
}

func Register() {
	bridge.InitMethodHandle(func(method string, data []byte) ([]byte, error) {
		log.Println("[{{.LibClassName}}] Platform Received:", method, byteArrayToHex(data))
		return data, nil
	})
}
