import {
  FlutterPlugin,
  FlutterPluginBinding,
} from '@ohos/flutter_ohos';

import {{.LibName}} from 'lib{{.LibName}}.so';

/** {{.PluginClassName}} **/
export default class {{.PluginClassName}} implements FlutterPlugin {

  constructor() {
  }

  getUniqueClassName(): string {
    return "{{.PluginClassName}}"
  }

  onAttachedToEngine(binding: FlutterPluginBinding): void {
  }

  onDetachedFromEngine(binding: FlutterPluginBinding): void {
  }
}